<style>
    article {
      width: 500px;
      padding: 10px;
      margin: 10px auto;
      border: 1px solid #ccc;
    }
  
    a {
      display: inline-block;
      padding: 5px 10px;
      background: #f1f1f1;
      text-decoration: none;
    }
  </style>
  
  <article>
    <h2 id="page1">第一页</h2>
    <p>这是第一页的内容。</p>
    <p>在这里可以写一些关于第一页的详细描述和信息。</p>
  
    <h2 id="page2">第二页</h2>
    <p>这是第二页的内容。</p>
    <p>在这里可以写一些关于第二页的详细描述和信息。</p>
  
    <h2 id="page3">第三页</h2>
    <p>这是第三页的内容。</p>
    <p>在这里可以写一些关于第三页的详细描述和信息。</p>
  </article>
  
  <a href="#page1">第一页</a>
  <a href="#page2">第二页</a>
  <a href="#page3">第三页</a>